<VirtualHost *:80>
	ServerAdmin '{{ wp_admin_email }}'
	ServerName '{{ webserver_host }}'
	DocumentRoot '{{ wp_install_dir }}'

	#<Directory "{{wp_install_dir}}">
	#	Options FollowSymLinks MultiViews Includes ExecCGI
	#	AllowOverride none
	#	Order allow,deny
	#	allow from all
	#	Require all granted
		#RewriteEngine On
		#RewriteBase /
		#RewriteRule ^index\.php$ - [L]
		#RewriteCond %{REQUEST_FILENAME} !-f
		#RewriteCond %{REQUEST_FILENAME} !-d
		#RewriteRule . /index.php [L]
	#</Directory>

</VirtualHost>
